<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="9f1134cd-89f4-4a88-9103-f9e922640124" activeEnvironment="Default environment" name="REST Project 2" lastOpened="2017-09-20T16:55:37.762-04:00" resourceRoot="" soapui-version="6.0.0" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>https://github.com/iahmedgov/SoapUI</con:repositoryIdentifier></con:vcsConfiguration><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:reporting/><con:authRepository/><con:tags/></con:soapui-project>