<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b0c1fd1d-3e1d-4ce5-935c-3f2d793e7001" name="WSGatewayTestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b0c1fd1d-3e1d-4ce5-935c-3f2d793e7001fileName">WSGatewayTestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
