<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="822b3805-329d-435d-8a0d-d71f331ee344" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://qa.velocitypayment.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="822b3805-329d-435d-8a0d-d71f331ee344fileName">https%3A%2F%2Fqa.velocitypayment.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://qa.velocitypayment.com</con:endpoint></con:endpoints></con:interface>